/* Personalización para Fundacion Cope*/
/* ----------------------------------------- */
div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
body {
	
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    background:#E6E6E6;
    /*line-height: 15px;*/
}
a{
    text-decoration:none;
}
#cabecera { background:#FFFFFF;}
#cabecera #sup{height: 40px;background: #E6E6E6 url(/images/separadormenu.png) repeat-x bottom left;}
#cabecera #sup ul{margin:0 auto; width:960px;font-size: 10px;text-transform: uppercase;}
#cabecera #sup ul li {
    display: inline;
    line-height: 30px;
}
#cabecera #sup ul li span{
    margin-right:5px;
    margin-left:5px;
}
#cabecera #sup ul li img {
    vertical-align: middle;
}
#cabecera #central {padding-top:20px;margin:0 auto;width:960px;}
#cabecera #central #logo {width: 240px;float:left;}
#cabecera #central #logo p {text-align:right;}
#cabecera #central #buscador {float:right;}
#cabecera #central #buscador #searchform {position:relative;top:-25px}
#cabecera #central #buscador #search {width:300px;height:36px;border:1px solid #D9DAC0;background-color:#F8F8F8;color:#8c8c8c;font-family: 'Oswald',sans-serif;font-size:14px;} 
.lupa{position:relative;left:-4px;top:13px}
/************* MENU ************************/
#cabecera #menu {background:#3B2fAB url(/images/menu.png) repeat-x;height:60px;margin-top:10px;}
/*#cabecera #menu ul{margin:0 auto;width: 960px;}
#cabecera #menu ul li {
	font-family: 'Oswald',sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    display: inline;
    line-height: 60px;
    background: url(/images/separador.png) no-repeat left;
    display: inline;
    float: left;
    height: 60px;
    margin: 0;
    padding:0 16px
}
#cabecera #menu ul li.first{
background-image: none;
padding-left:5px;
}
#cabecera #menu ul li a {color:#FFFFFF;font-size:14px;}

*/

/**************** FIN MENU *********************/
#contenido {min-height:300px;background-color:#E6E6E6;}
#contenido #contenido_superior {width:980px;margin:0 auto;}
#contenido #contenido_superior .lof-container{float:left;}
#contenido #contenido_superior #contact_form{width:248px;float:left;margin:15px 0px 0px 20px;font-weight: normal;}
#contenido #contenido_superior #contact_form .form-cabecera{color:#313562;font-family: 'Oswald',sans-serif;font-size:26px;}
#contenido #contenido_superior #contact_form .form-texto{color:#8c8c8c;font-family: 'Oswald',sans-serif;font-size:14px;}
#contenido #contenido_superior #contact_form .form-texto span{color:#313562;font-family: 'Oswald',sans-serif;font-size:18px;}
#contenido #contenido_superior #contact_form p {font-family: 'Oswald',sans-serif;color:#8c8c8c;margin-top:3px;}
#contenido #contenido_superior #contact_form input[type=text]{width:232px;height:28px;border:1px solid #D9DAC0;background-color:#FFF; }
#contenido #contenido_superior #contact_form .wpcf7-submit{float:right;margin-bottom:4px;margin-top:11px;margin-left:15px;margin-right:15px;}
#contenido #contenido_superior #contact_form .wpcf7-response-output {color:#00800;clear:both;color:#8c8c8c;font-family: 'Oswald',sans-serif;font-size:12px;margin:0;}
#contenido #contenido_superior #contenido_central{
	width:980px;
}
#contenido #contenido_superior #contenido_central #contenido_central_izq{
	float:left;
}
#contenido #contenido_superior #contenido_central #contenido_central_azul {
	width:669px;
	background-color:#d5e2eb;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:10px;
	padding-top:13px;
	padding-bottom:13px;
	padding-left:10px;
	padding-right:10px;
	
}
#contenido_central_azul,#contenido_central_blanco h2{
	
	font-family: 'Oswald',sans-serif;
	font-size:16px;
    color:#303764;
    padding-bottom:8px;
}

#contenido_central_azul p{
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#000;
	margin-top:10px
}
#contenido #contenido_superior #contenido_central  #contenido_central_blanco {
	width:712px;
	background-color:#FFFFFF;
	float:left;
	
}
#contenido #contenido_superior #contenido_central  #contenido_central_blanco div{
	float:left;	
}

#contenido #contenido_superior #contenido_central #contenido_central_derecho{
	
	margin-left:20px;
	float:left;
	
}
/* clases y estilos para el carrousel*/
.carousel {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #E4E1CE;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #E4E1CE;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #E4E1CE;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #E4E1CE;
    border-top-style: solid;
    border-top-width: 1px;
    margin-left: -10px;
    width: 1010px;
}
.shadow {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/images/carousel-shadow.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 27px;
    width: 1010px;
}
#slider1.products-carousel li.item {
    margin-right: 0 !important;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 234px;
}
#slider1.products-carousel li.item img {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #F0EEE0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #F0EEE0;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #F0EEE0;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #F0EEE0;
    border-top-style: solid;
    border-top-width: 1px;
}
#slider1.products-carousel li.item .border {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-color: #E4E1CE;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #E4E1CE;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: #E4E1CE;
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: #E4E1CE;
    border-top-style: solid;
    border-top-width: 1px;
    height: 198px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    width: 168px;
}
#slider1.products-carousel li.item .border:hover {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #f1f2f9;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
}
.bx-wrapper {
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}
.bx-window {
}
.bx-window .pager {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
.bx-window .products-carousel .product-name {
    height: 37px;
    margin-bottom: 0 !important;
    margin-top: 4px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.bx-window .products-carousel .product-name a {
	font-family: 'Oswald',sans-serif;
    color: #303764;
    font-size: 14px;
    line-height: 17px;
}
.bx-window .products-carousel p {
    color: #8c8c8c;
    font-size: 11px;
    line-height: 13px;
}
.bx-window .products-carousel li.item:hover a {
    color: #303764;
}
.bx-window .products-carousel .product-image {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.carousel .bx-left {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/images/sprites.png");
    background-origin: padding-box;
    background-position: -92px 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 10px;
    margin-bottom: 0;
    margin-left: -1px;
    margin-right: 0;
    margin-top: -11px;
    position: absolute;
    width: 10px;
}
.carousel .bx-right {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/images/sprites.png");
    background-origin: padding-box;
    background-position: -112px 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    height: 10px;
    margin-bottom: 0;
    margin-left: 999px;
    margin-right: 0;
    margin-top: -11px;
    position: absolute;
    width: 10px;
}
.bx-prev, .bx-next {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/pre-next.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding-bottom: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
    position: absolute;
    text-indent: -999999px;
    top: 104px;
}
.bx-prev {
    left: 10px;
}
.bx-prev:hover {
    background-position: 0 -80px;
}
.bx-next {
    background-position: -42px 0;
    right: 34px;
}
.bx-next:hover {
    background-position: -42px -80px;
}

/* Fin clases y estilos para el carrousel */
.banner{border:none;margin-bottom:10px;}	
.limpia{clear:both;}
.informate{font-size:18px;color:#4F4F4F;font-family: 'Oswald',sans-serif;}
.telf{font-size:26px;color:#303764;font-family: 'Oswald',sans-serif;}
.not-found{ 
	font-family: 'Oswald',sans-serif;
	font-size:28px;
	color:#303765;
	}
.micro{float:left;margin:30px;}
.parrafo404{float:left;height:248px;line-height:248px;}
.post-search{margin:20px 30px;}
h2#post-search-title{ font-family: 'Oswald',sans-serif;
	font-size:16px;
	color:#303765;
	}
a.search{ text-decoration:underline;}
a.search:link, a.search:active{color:#303765;}
/* Maquetacion para las paginas */
#contenido #page {margin:0px auto;width:960px;}
#contenido #page .title-page {
	margin-top:34px;
	text-indent: 30px;
	font-family: 'Oswald',sans-serif;
	font-size:18px;
	color:#FFFFFF;
	line-height:60px;
	background:#303765 url('/images/fondo-azul.png') repeat-y;
	height:60px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom:20px;
	text-transform: uppercase;
}



#nav {
    float: left;
    margin-top:0px;
	border-right:1px solid #d8d8d8;
	border-top:1px solid #d8d8d8;
	width:207px;
	min-height:300px;
}
#nav li a {
    display: block;
    padding: 10px 15px;
    border-bottom: 1px solid #d8d8d8;
    text-decoration: none;
}
#nav li a:hover, #nav li a.active {
    background: #303765;
    color: #fff;
}

#nav li ul {
    display: none; 
}
#nav li ul li a {
    padding: 10px 25px;
    background: #303765;
}

#footer {background-color:#FFFFFF;margin-top:25px;min-height:137px;}
#footer #container_footer {margin:0 auto;width:980px;padding-top:20px;}
#footer #container_footer .xoxo{float:left;margin:10px 12px;font-size:11px;color:#303764;font-weight:bold;}
#footer #container_footer .xoxo li{padding-bottom:15px;}
#footer #container_footer .xoxo h2{padding-left:20px;font-size:10px;font-family: 'Oswald',sans-serif;}
#footer #container_footer .xoxo a{color:#303764;}
#footer #container_footer .xoxo a:link{color:#303764;}
#footer #container_footer .xoxo a:hover{color:#303764;}
#footer #footer_blue {height:55px;background-color:#303a77;clear:both;}
